@model WebSunFlower.Models.EditUserRoleVM
@{
    Layout = "_AdminLayout";
}

<div class="content-page">
    <div class="content">
        <!-- Start container-fluid -->
        <div style="margin-left:50px;" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h4 class="header-title mb-3">Chỉnh sửa quyền người dùng</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <form asp-action="EditUserRoles" method="post">
                            <input type="hidden" asp-for="UserId" />
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="UserName" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label>Chọn quyền:</label>
                                <div>
                                    @foreach (var role in Model.AllRoles)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            @{
                                                bool isChecked = Model.UserRoles.Contains(role.Name) || role.Name.Equals("User", StringComparison.OrdinalIgnoreCase); 
                                            }
                                            <input type="checkbox" class="custom-control-input" name="UserRoles" value="@role.Name" id="@role.Name" checked="@isChecked" />
                                            <label class="custom-control-label" for="@role.Name">@role.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end content -->
</div>
